body {
  background:#000;
}

#content {
  text-align:center;
  width:700px;
  margin:0 auto;
  padding:25px;
  background:#FFF;
  overflow:hidden;
}

#canvasContainer {
  position:relative;
  float:left;
  width:500px;
  min-height:600px;
}

.paintBoard {
  border:solid #000 1px;
  cursor:pointer;
  position:absolute;
  left:0;
  top:0;
}

.animate {
  transition:all 1s;
}

.layerList {
  float:right;
  width:150px;
  background:#ddd;
  padding:0;
}

.layerList li {
  background:#fff;
  border:#000 solid 1px;
  list-style:none;
}
